<div class="container">
  <div class="row">
    <div class="col-lg-3 col-md-2"></div>
    <!-- User detail info-->
    <div class="col-lg-6 col-md-8 userDetailCard">
      <ul class="list-group">
        <li class="list-group-item">Email:{{userDetail.email}}</li>
        <li class="list-group-item">Password:{{userDetail.password}}</li>
      </ul>      
      <ul class="list-group" *ngFor="let user of users">
        <li class="list-group-item">Email:{{user.email}}</li>
        <li class="list-group-item">Password:{{user.password}}</li>
      </ul>
      <button class="btn btn-primary" style="margin-top:10px" (click)="getAllUsers()">Get All User</button>
    </div>

    <div class="col-lg-3 col-md-2"></div>
  </div>
</div>