<div class="container">
  <div class="row">
    <div class="col-lg-3 col-md-2"></div>
    <!-- User detail info-->
    <div class="col-lg-6 col-md-8 userDetailCard">
       
      <ul class="list-group">
        <li class="list-group-item" 
        style="background: var(--global-block-background-color);color: var(--global-font-color)">
        Logged In</li>
        <li class="list-group-item">Email:{{userDetail.email}}</li>
        <a class="small" href="changepassword" style="margin-left: auto; margin-right: 0;">Change Password</a>
        <a class="small" href="user-delete" style="margin-left: auto; margin-right: 0;">Delete User</a>
      </ul>

    </div>

    <div class="col-lg-3 col-md-2"></div>
  </div>
</div>