<div class="container">
  <div class="row">
    <div class="col-lg-3 col-md-2"></div>

    <!-- changePassword card -->
    <div class="col-lg-6 col-md-8 changePassword-card">
      <!-- changePassword card title -->
      <div class="col-lg-12 changePassword-card-title">Change Password</div>      
      <!-- changePassword card body -->
      <div class="col-lg-12 changePassword-card-form">
        <app-error [errors]="this.logService.errors"></app-error>
        <form [formGroup]="changePasswordFormGroup" (ngSubmit)="changePassword()" class="test">
          <!-- email -->
          <div class="form-group changePassword-card-form-group">
            <label class="changePassword-card-form-group-label">{{this.email}}</label>
          </div>
          <!-- old password -->
          <div class="form-group changePassword-card-form-group">
            <label class="changePassword-card-form-group-label">OLD PASSWORD</label>
            <input type="password" class="form-control" formControlName="oldPassword">
            <!-- print validator error -->
            <div *ngIf="changePasswordFormGroup.controls['oldPassword'].invalid">
              <app-validator-print-error [control]="changePasswordFormGroup.controls['oldPassword']">
              </app-validator-print-error>
            </div>
          </div>
          <!-- password -->
          <div class="form-group changePassword-card-form-group">
            <label class="changePassword-card-form-group-label">PASSWORD</label>
            <input type="password" class="form-control" formControlName="password">
            <!-- print validator error -->
            <div *ngIf="changePasswordFormGroup.controls['password'].invalid">
              <app-validator-print-error [control]="changePasswordFormGroup.controls['password']">
              </app-validator-print-error>
            </div>
          </div>
          <!-- confirm password -->
          <div class="form-group changePassword-card-form-group">
            <label class="changePassword-card-form-group-label">CONFIRM PASSWORD</label>
            <input type="password" class="form-control" formControlName="confirmPassword">
            <div *ngIf="changePasswordFormGroup.controls['confirmPassword'].invalid">
              <app-validator-print-error [control]="changePasswordFormGroup.controls['confirmPassword']">
              </app-validator-print-error>
            </div>
          </div>          
          <!-- button -->
          <div class="form-group changePassword-card-form-group-btn-div">
            <button type="submit" class="btn changePassword-card-form-group-btn" [disabled]="changePasswordFormGroup.invalid">
              <div>
                changePassword
                <!-- loading -->
                <span class="spinner-border spinner-border-sm ml-1" role="status" aria-hidden="true" [hidden]="!loading"></span>
              </div>
            </button>
          </div>
        </form>        
      </div>
    </div>

    <div class="col-lg-3 col-md-2"></div>
  </div>
</div>



