<div class="container">
  <div class="row">
    <div class="col-lg-3 col-md-2"></div>

    <!-- login card -->
    <div class="col-lg-6 col-md-8 login-card">
      <!-- login card title -->
      <div class="col-lg-12 login-card-title">Login</div>      
      <!-- login card body -->
      <div class="col-lg-12 login-card-form">
        <app-error [errors]="this.logService.errors"></app-error>
        <form [formGroup]="loginFormGroup" (ngSubmit)="onSubmit()">
          <!-- email -->
          <div class="form-group login-card-form-group">
            <label class="login-card-form-group-label">EMAIL</label>
            <input type="text" class="form-control" formControlName="email">
            <!-- print validator error -->
            <div *ngIf="loginFormGroup.controls['email'].invalid">
              <app-validator-print-error [control]="loginFormGroup.controls['email']">
              </app-validator-print-error>
            </div>
          </div>
          <!-- password -->
          <div class="form-group login-card-form-group">
            <label class="login-card-form-group-label">PASSWORD</label>
            <input type="password" class="form-control" formControlName="password">
            <!-- print validator error -->
            <div *ngIf="loginFormGroup.controls['password'].invalid">
              <app-validator-print-error [control]="loginFormGroup.controls['password']">
              </app-validator-print-error>
            </div>
          </div>
          <!-- button -->
          <div class="form-group login-card-form-group-btn-div">
            <button type="submit" class="btn login-card-form-group-btn" [disabled]="loginFormGroup.invalid">
              <div>
                Submit
                <!-- loading -->
                <span class="spinner-border spinner-border-sm ml-1" role="status" aria-hidden="true" [hidden]="!loading"></span>
              </div>
            </button>
          </div>
        </form>        
      </div>
    </div>

    <div class="col-lg-3 col-md-2"></div>
  </div>
</div>



