/*
margin
size
color
font size
font color
align
*/

.my-navbar{
  height: auto;
  background: var(--global-block-background-color);
  font-size: big;
  font-weight: bold;
  color: var(--global-font-color);
}

nav>a{
  color: var(--global-font-color);
}

nav>a:hover{
  color: var(--global-font-hover-color);
}

nav>div>ul>li>a{
  color: var(--global-font-color);
}

nav>div>ul>li>a:hover{
  color: var(--global-font-hover-color);
}
