<nav class="navbar navbar-expand-lg navbar-light my-navbar">
  <!-- Brand -->
  <a class="navbar-brand my-navbar-brand" href="/login">
    <span class="glyphicon glyphicon-qrcode"></span>
  </a>
  
  <!-- Collapse button -->  
  <button class="navbar-toggler" type="button"
          (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed"
          data-toggle="collapse" data-target="#navbarSupportedContent" 
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>  

  <!-- Collapse content-->
  <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngbCollapse]="isCollapsed">
    <ul class="navbar-nav ml-auto">
      <!-- shopping cart-->     
      
      <li class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
          <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
          {{productService.totalQuantityFromStorage}}
        </a>

        <ul class="dropdown-menu columns-2 dropdown-menu-right">
          <div *ngFor="let productObj of productService.productsObjFromStorage | keyvalue">
            <div class="row">
              <li class="col-8 li-product-name">{{productObj.key}}</li>
              <li class="col-4">
                x{{productObj.value}}
                <button class="btn" (click)="deleteProductFromCart($event, productObj.key)">Delete</button>
                <button class="btn" (click)="clearProductFromCart($event, productObj)"><span class="glyphicon glyphicon-remove"></span></button>
              </li>
            </div>
          </div>
          <button class="btn" (click)="emptyCart()">Emtpy Cart</button>
        </ul>
        <!--
        <a class="nav-link dropdown-toggle" href="#" role="button" id="shoppingCart" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
        </a>
        -->
        <!--
        <div class="dropdown-menu multi-column column-2" aria-labelledby="shoppingCart">                              
          
          <div *ngIf="!productService.totalQuantityFromStorage">
            <a class="dropdown-item" href="#" style="color: grey">Empty</a>
          </div>
          <div *ngIf="productService.totalQuantityFromStorage">
            <div *ngFor="let product of productService.productsObjFromStorage | keyvalue">
              <a class="dropdown-item" href="#">
                <strong>{{product.key}}</strong>
                <em>x{{product.value}}</em>
              </a>
            </div>
          </div>
        </div>
        -->
      </li>

      <!-- login -->
      <li class="nav-item" [hidden]="authenticationService.loggedInStatus">
        <a class="nav-link" href="/login">Login</a>
      </li>
      <!-- register -->
      <li class="nav-item" [hidden]="authenticationService.loggedInStatus">
        <a class="nav-link" href="/register">Register</a>
      </li>
      <!-- userDetail -->
      <li class="nav-item" [hidden]="!authenticationService.loggedInStatus">
        <a class="nav-link" href="/userDetail">UserDetail</a>
      </li>
      <!-- logout -->
      <li class="nav-item" [hidden]="!authenticationService.loggedInStatus">
        <a class='nav-link' href="#" (click)="authenticationService.logout()">Logout</a>
      </li>

    </ul>
  </div>
</nav>

<router-outlet></router-outlet>


<script>
  $('ul.dropdown-menu.li.button').on('click', function(event){
    event.stopPropagation();
  });
</script>