/*
margin
size
color
font size
font color
align
*/

.my-navbar{
  height: auto;
  background: var(--global-block-background-color);
  font-size: big;
  font-weight: bold;
  color: var(--global-font-color);
}

nav>a{
  color: var(--global-font-color);
}

nav>a:hover{
  color: var(--global-font-hover-color);
}

nav>div>ul>li>a{
  color: var(--global-font-color);
}

nav>div>ul>li>a:hover{
  color: var(--global-font-hover-color);
}

.dropdown-menu{
  margin-top: 10px;
  background: var(--global-block-background-color);
  box-shadow: var(--global-block-shadow);
}

.dropdown-menu .row{
  margin-left: 5px;
}

.dropdown-menu li{
  font-size: big;
  font-weight: bold;
  color: var(--global-font-color);
}

.dropdown-menu li{
	padding-top:5px;
	padding-bottom:5px;
	display: block;
}

.dropdown-menu li button{
  color: var(--global-font-color);
  font-weight: bold;
}
.dropdown-menu li button:hover{
  background-color: var(--global-block-background-hover-color);
}

.li-product-name:hover{
	background-color: var(--global-block-background-hover-color);
}

.dropdown-menu.columns-2{
	min-width: 400px;
}

@media (max-width: 767px) {
	.dropdown-menu.columns-2 {
		min-width: 240px !important;
		overflow-x: hidden;
	}
}