<nav class="navbar navbar-expand-lg navbar-light my-navbar">
  <!-- Brand -->
  <a class="navbar-brand my-navbar-brand" href="/login" style="color:var(--global-font-color)">TEST</a>
  <!-- Collapse button -->  
  <button class="navbar-toggler" type="button"
          (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed"
          data-toggle="collapse" data-target="#navbarSupportedContent" 
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>  
  <!-- Collapse content-->
  <div class="collapse navbar-collapse" id="navbarSupportedContent"
    [ngbCollapse]="isCollapsed">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/login" style="color:var(--global-font-color)">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/register" style="color:var(--global-font-color)">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/userDetail" style="color:var(--global-font-color)">UserDetail</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#logout" ng-click="logout()" style="color:var(--global-font-color)">Logout</a>
      </li>      
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
