/*
margin
size
color
font size
font color
align
*/

.my-navbar{
  height: auto;
  background: var(--global-block-background-color);
  font-size: big;
  font-weight: bold;
  color: var(--global-font-color);
}
