<div class="container">
  <div class="row">
    <div class="col-lg-3 col-md-2"></div>

    <!-- findPassword card -->
    <div class="col-lg-6 col-md-8 findPassword-card">
      <!-- findPassword card title -->
      <div class="col-lg-12 findPassword-card-title">Find Password</div>      
      <!-- findPassword card body -->
      <div class="col-lg-12 findPassword-card-form">
        <app-error [errors]="this.logService.errors"></app-error>
        <form [formGroup]="findPasswordFormGroup" (ngSubmit)="onSubmit()">
          <!-- email -->
          <div class="form-group findPassword-card-form-group">
            <label class="findPassword-card-form-group-label">EMAIL</label>
            <input type="text" class="form-control" formControlName="email">
            <!-- print validator error -->
            <div *ngIf="findPasswordFormGroup.controls['email'].invalid">
              <app-validator-print-error [control]="findPasswordFormGroup.controls['email']">
              </app-validator-print-error>
            </div>
          </div>
          <!-- button -->
          <div class="form-group findPassword-card-form-group-btn-div">
            <button type="submit" class="btn findPassword-card-form-group-btn" [disabled]="findPasswordFormGroup.invalid">
              <div>
                Submit
                <!-- loading -->
                <span class="spinner-border spinner-border-sm ml-1" role="status" aria-hidden="true" [hidden]="!loading"></span>
              </div>
            </button>
          </div>
        </form>        
      </div>
    </div>

    <div class="col-lg-3 col-md-2"></div>
  </div>
</div>



