.product-card{
  margin-top: 10px;
  margin-left: 10px;
  height: 300px;
  width: 300px;
  box-shadow: var(--global-block-shadow);
}

.product-card-img-div{
  height: 85%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-card-form-div{
  margin-top:0;
  height: 15%;
  width: 100%;
}

.product-card-form{
  height: 100%;
  width: 100%;
}

.product-card-form-group{
  height:100%;
  width:50%;
}

.product-card-form-group-input{
  height:100%;
  width:100%;
}

.product-card-form-group-btn{
  height:100%;
  width:100%;
  font-size: small;
  font-weight: bold;
  color: var(--global-font-color);
  background: var(--global-block-background-color);
  border-color: var(--global-block-border-color);
}

.product-card-form-group-btn:hover{
  font-size: small;
  font-weight: bold;
  color: var(--global-font-color);
  background: var(--global-block-background-hover-color);
}
