.carousel-card{
  margin: 10px 10px 10px 10px;
  box-shadow: var(--global-block-shadow);
}

.myCarousel-img{
  margin: 10px auto;
  max-width: 90%;
  height: auto;
}

.carousel-control-next,
.carousel-control-prev{
  filter: invert(100%);
}

.carousel-indicators li {
  display: inline-block;
  background-color: grey;
}

.carousel-indicators .active {
  background-color:black;
}